src/Node-RED/flow-acuario-mqtt.JSON
[
    {
        "id": "94f4f3a.c431c1",
        "type": "mqtt in",
        "z": "54f24fa.fa04db",
        "name": "Temperatura Ambiente",
        "topic": "casa/servidor/tempext",
        "qos": "2",
        "broker": "55039030.311ea",
        "x": 140.01734924316406,
        "y": 103,
        "wires": [
            [
                "99d4ea76.93a818"
            ]
        ]
    },
    {
        "id": "99d4ea76.93a818",
        "type": "ui_gauge",
        "z": "54f24fa.fa04db",
        "name": "Temperatura Ambiente",
        "group": "b69c5c4e.eaa4a",
        "order": 0,
        "width": "3",
        "height": "3",
        "gtype": "gage",
        "title": "Temperatura",
        "label": "ºC",
        "format": "{{value}}",
        "min": "10",
        "max": "45",
        "colors": [
            "#00b500",
            "#b38c33",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 488.01734924316406,
        "y": 105,
        "wires": []
    },
    {
        "id": "5d97e578.9bbecc",
        "type": "mqtt in",
        "z": "54f24fa.fa04db",
        "name": "Humedad ambiente",
        "topic": "casa/servidor/humext",
        "qos": "2",
        "broker": "55039030.311ea",
        "x": 133.01734924316406,
        "y": 189.99999809265137,
        "wires": [
            [
                "9f3391cc.1b83e"
            ]
        ]
    },
    {
        "id": "9f3391cc.1b83e",
        "type": "ui_gauge",
        "z": "54f24fa.fa04db",
        "name": "Humedad Ambiente",
        "group": "b69c5c4e.eaa4a",
        "order": 0,
        "width": "3",
        "height": "3",
        "gtype": "gage",
        "title": "Humedad",
        "label": "%",
        "format": "{{value}}",
        "min": "0",
        "max": "100",
        "colors": [
            "#00b500",
            "#b38c33",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 491.01734924316406,
        "y": 189.99999809265137,
        "wires": []
    },
    {
        "id": "da73e74d.672d08",
        "type": "mqtt in",
        "z": "54f24fa.fa04db",
        "name": "Temperatura",
        "topic": "casa/servidor/tempagua",
        "qos": "2",
        "broker": "55039030.311ea",
        "x": 118.0173568725586,
        "y": 479.99999618530273,
        "wires": [
            [
                "fd93148a.2dc188",
                "5de5cfb4.0f81c"
            ]
        ]
    },
    {
        "id": "fd93148a.2dc188",
        "type": "ui_gauge",
        "z": "54f24fa.fa04db",
        "name": "Temperatura Agua",
        "group": "be442f18.94c89",
        "order": 0,
        "width": "4",
        "height": "3",
        "gtype": "gage",
        "title": "Temperatura",
        "label": "ºC",
        "format": "{{value}}",
        "min": "15",
        "max": "35",
        "colors": [
            "#00b500",
            "#b38c33",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 469.0173568725586,
        "y": 479.99999618530273,
        "wires": []
    },
    {
        "id": "ebcff472.e97f28",
        "type": "mqtt in",
        "z": "54f24fa.fa04db",
        "name": "PH",
        "topic": "casa/servidor/phagua",
        "qos": "2",
        "broker": "55039030.311ea",
        "x": 90.0173568725586,
        "y": 678.7142562866211,
        "wires": [
            [
                "988b4b5e.301518",
                "3c29257d.33394a"
            ]
        ]
    },
    {
        "id": "988b4b5e.301518",
        "type": "ui_gauge",
        "z": "54f24fa.fa04db",
        "name": "PH Agua",
        "group": "be442f18.94c89",
        "order": 0,
        "width": "4",
        "height": "3",
        "gtype": "gage",
        "title": "PH",
        "label": "",
        "format": "{{value}}",
        "min": "2",
        "max": "15",
        "colors": [
            "#00b500",
            "#b38c33",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 431.0173568725586,
        "y": 678.7142562866211,
        "wires": []
    },
    {
        "id": "8af51cc2.b7b68",
        "type": "mqtt in",
        "z": "54f24fa.fa04db",
        "name": "Indice Calor Ambiente",
        "topic": "casa/servidor/indiceext",
        "qos": "2",
        "broker": "55039030.311ea",
        "x": 139.0173568725586,
        "y": 295.99999809265137,
        "wires": [
            [
                "882bd31c.0b12d"
            ]
        ]
    },
    {
        "id": "882bd31c.0b12d",
        "type": "ui_gauge",
        "z": "54f24fa.fa04db",
        "name": "Indice Calor Abmiente",
        "group": "b69c5c4e.eaa4a",
        "order": 0,
        "width": "3",
        "height": "3",
        "gtype": "gage",
        "title": "Sensación calor",
        "label": "ºC",
        "format": "{{value}}",
        "min": "10",
        "max": "45",
        "colors": [
            "#00b500",
            "#b38c33",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 487.0173568725586,
        "y": 295.99999809265137,
        "wires": []
    },
    {
        "id": "a812cc95.5d6e9",
        "type": "comment",
        "z": "54f24fa.fa04db",
        "name": "Parámetros Ambiente",
        "info": "Parámetros obtenidos del sensor DHT11",
        "x": 143.01734924316406,
        "y": 52,
        "wires": []
    },
    {
        "id": "9b016db3.80bf4",
        "type": "comment",
        "z": "54f24fa.fa04db",
        "name": "Parámetros Agua",
        "info": "",
        "x": 110.01734924316406,
        "y": 428.99999809265137,
        "wires": []
    },
    {
        "id": "63ee73d2.0f0ebc",
        "type": "comment",
        "z": "54f24fa.fa04db",
        "name": "Acciones",
        "info": "",
        "x": 1579.68404006958,
        "y": 245.333327293396,
        "wires": []
    },
    {
        "id": "270f1b3.f2485e4",
        "type": "ui_text_input",
        "z": "54f24fa.fa04db",
        "name": "",
        "label": "Encendido",
        "group": "cb8a536a.bc303",
        "order": 0,
        "width": "4",
        "height": "3",
        "passthru": false,
        "mode": "time",
        "delay": "300",
        "topic": "",
        "x": 1574.874496459961,
        "y": 113.0952033996582,
        "wires": [
            [
                "bb1f182d.529e18"
            ]
        ]
    },
    {
        "id": "24479f06.80033",
        "type": "ui_text_input",
        "z": "54f24fa.fa04db",
        "name": "",
        "label": "Apagado",
        "group": "cb8a536a.bc303",
        "order": 0,
        "width": "4",
        "height": "3",
        "passthru": false,
        "mode": "time",
        "delay": "300",
        "topic": "",
        "x": 1562.874496459961,
        "y": 188.8095588684082,
        "wires": [
            [
                "62ceadfe.fbbd74"
            ]
        ]
    },
    {
        "id": "b71baaea.e6cca8",
        "type": "comment",
        "z": "54f24fa.fa04db",
        "name": "Programación luces",
        "info": "",
        "x": 844.7316207885742,
        "y": 107.80952072143555,
        "wires": []
    },
    {
        "id": "58a7be91.24788",
        "type": "inject",
        "z": "54f24fa.fa04db",
        "name": "Programación luces",
        "topic": "select nombre, valor from parametros where nombre like 'luces%'",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "0.1",
        "x": 879.0173568725586,
        "y": 188.0953025817871,
        "wires": [
            [
                "7638e2b8.ca517c"
            ]
        ]
    },
    {
        "id": "bb1f182d.529e18",
        "type": "function",
        "z": "54f24fa.fa04db",
        "name": "Conversión",
        "func": "// Obtención de la fecha\nvar dateUtc = new Date();\nvar date = new Date(msg.payload + dateUtc.getTimezoneOffset()*60*1000);\n\n// Almacenamos en variable ambito flow\nflow.set('lucesOn', date.getHours().toString().padStart(2,\"0\")+\":\"+date.getMinutes().toString().padStart(2,\"0\"));\n\n// Montamos la query\nvar newMsg = {topic : \"update parametros set VALOR = '\"+ flow.get('lucesOn')+\"' where NOMBRE = 'lucesOn'\"};\n\nreturn newMsg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1741.874496459961,
        "y": 112.66667556762695,
        "wires": [
            [
                "7684234b.90bc7c"
            ]
        ]
    },
    {
        "id": "62ceadfe.fbbd74",
        "type": "function",
        "z": "54f24fa.fa04db",
        "name": "Conversión",
        "func": "// Obtención de la fecha\nvar dateUtc = new Date();\nvar date = new Date(msg.payload + dateUtc.getTimezoneOffset()*60*1000);\n\n// Almacenamos en variable ambito flow\nflow.set('lucesOff', date.getHours().toString().padStart(2,\"0\")+\":\"+date.getMinutes().toString().padStart(2,\"0\"));\n\n// Montamos la query\nvar newMsg = {topic : \"update parametros set VALOR = '\"+ flow.get('lucesOff')+\"' where NOMBRE = 'lucesOff'\"};\n\nreturn newMsg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1740.874496459961,
        "y": 188.66667556762695,
        "wires": [
            [
                "c438c4f9.309088"
            ]
        ]
    },
    {
        "id": "e17aeb0c.ac3b18",
        "type": "inject",
        "z": "54f24fa.fa04db",
        "name": "Temporizador tareas",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "60",
        "crontab": "",
        "once": true,
        "onceDelay": "5",
        "x": 880.6006851196289,
        "y": 400.24994564056396,
        "wires": [
            [
                "98c55b00.3f6758"
            ]
        ]
    },
    {
        "id": "fe5db4fe.c2bef8",
        "type": "function",
        "z": "54f24fa.fa04db",
        "name": "Estado de la luz",
        "func": "// Variable ambito flow\nflow.set('lucesEstado', msg.payload);\n\n// Montamos la query actualizar estado\nvar newMsg = {topic : \"update parametros set VALOR = '\"+ flow.get('lucesEstado') +\"' where NOMBRE = 'lucesEstado'\"};\n\nreturn newMsg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1810.6841278076172,
        "y": 414.33334159851074,
        "wires": [
            [
                "70b89cb6.99dfa4"
            ]
        ]
    },
    {
        "id": "98c55b00.3f6758",
        "type": "function",
        "z": "54f24fa.fa04db",
        "name": "Luces programadas",
        "func": "// Obtenemos fecha actual\nvar fecha = new Date();\n\n// Fecha de encendido\nvar horaMinutos = flow.get('lucesOn').toString().split(\":\");\nvar horaOn = parseInt(horaMinutos[0]);\nvar minutosOn = parseInt(horaMinutos[1]);\n\n// Fecha de apagado\nhoraMinutos = flow.get('lucesOff').toString().split(\":\");\nvar horaOff = parseInt(horaMinutos[0]);\nvar minutosOff = parseInt(horaMinutos[1]);\n\nmsg.payload = -1;\n\n// Si la fecha anterior es igual a la fecha de encendido\nif(fecha.getHours() == horaOn && fecha.getMinutes() == minutosOn){\n    // Encendemos\n    msg.payload = 1;\n} else if (fecha.getHours() == horaOff && fecha.getMinutes() == minutosOff){\n    // Apagamos\n    msg.payload = 0;\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1136.7753677368164,
        "y": 400.29761123657227,
        "wires": [
            [
                "7023dadb.4843d4"
            ]
        ]
    },
    {
        "id": "1efe24fc.a3605b",
        "type": "comment",
        "z": "54f24fa.fa04db",
        "name": "Crear tablas",
        "info": "",
        "x": 133.80306243896484,
        "y": 906.2142925262451,
        "wires": []
    },
    {
        "id": "96e67848.87bd08",
        "type": "inject",
        "z": "54f24fa.fa04db",
        "name": "CREATE parametros",
        "topic": "CREATE TABLE parametros(TIMESTAMP INT PRIMARY KEY NOT NULL, NOMBRE VARCHAR(10) NOT NULL,VALOR VARCHAR(15) NOT NULL)",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 297.55306243896484,
        "y": 1002.4643077850342,
        "wires": [
            [
                "4d87d26b.83e35c"
            ]
        ]
    },
    {
        "id": "4d87d26b.83e35c",
        "type": "sqlite",
        "z": "54f24fa.fa04db",
        "mydb": "f1c2e5ee.000048",
        "name": "CREATE parametros",
        "x": 567.5530700683594,
        "y": 1002.4643230438232,
        "wires": [
            []
        ]
    },
    {
        "id": "94f3e156.46e57",
        "type": "inject",
        "z": "54f24fa.fa04db",
        "name": "CREATE tempext",
        "topic": "CREATE TABLE tempext(TIMESTAMP INT PRIMARY KEY NOT NULL, VALOR FLOAT NOT NULL)",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 283.80306243896484,
        "y": 1053.7142925262451,
        "wires": [
            [
                "817e117f.7f138"
            ]
        ]
    },
    {
        "id": "817e117f.7f138",
        "type": "sqlite",
        "z": "54f24fa.fa04db",
        "mydb": "f1c2e5ee.000048",
        "name": "CREATE tempext",
        "x": 553.8030700683594,
        "y": 1053.7143077850342,
        "wires": [
            []
        ]
    },
    {
        "id": "50c14134.1853a",
        "type": "inject",
        "z": "54f24fa.fa04db",
        "name": "CREATE humext",
        "topic": "CREATE TABLE humext(TIMESTAMP INT PRIMARY KEY NOT NULL, VALOR FLOAT NOT NULL)",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 282.55306243896484,
        "y": 1108.7142925262451,
        "wires": [
            [
                "494f1501.6af3ac"
            ]
        ]
    },
    {
        "id": "494f1501.6af3ac",
        "type": "sqlite",
        "z": "54f24fa.fa04db",
        "mydb": "f1c2e5ee.000048",
        "name": "CREATE humext",
        "x": 552.5530700683594,
        "y": 1108.7143077850342,
        "wires": [
            []
        ]
    },
    {
        "id": "627f7cd7.4cfcc4",
        "type": "inject",
        "z": "54f24fa.fa04db",
        "name": "CREATE tempagua",
        "topic": "CREATE TABLE tempagua(TIMESTAMP INT PRIMARY KEY NOT NULL, VALOR FLOAT NOT NULL)",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 292.55306243896484,
        "y": 1166.2142925262451,
        "wires": [
            [
                "44000150.d9f1b"
            ]
        ]
    },
    {
        "id": "44000150.d9f1b",
        "type": "sqlite",
        "z": "54f24fa.fa04db",
        "mydb": "f1c2e5ee.000048",
        "name": "CREATE tempagua",
        "x": 552.5530700683594,
        "y": 1166.2143077850342,
        "wires": [
            []
        ]
    },
    {
        "id": "84236b59.7390b8",
        "type": "inject",
        "z": "54f24fa.fa04db",
        "name": "CREATE ph",
        "topic": "CREATE TABLE ph(TIMESTAMP INT PRIMARY KEY NOT NULL, VALOR FLOAT NOT NULL)",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 271.30306243896484,
        "y": 1223.7142925262451,
        "wires": [
            [
                "cb8d6d2e.0a5c8"
            ]
        ]
    },
    {
        "id": "cb8d6d2e.0a5c8",
        "type": "sqlite",
        "z": "54f24fa.fa04db",
        "mydb": "f1c2e5ee.000048",
        "name": "CREATE ph",
        "x": 531.3030700683594,
        "y": 1223.7143077850342,
        "wires": [
            []
        ]
    },
    {
        "id": "905c4ab2.07bb98",
        "type": "inject",
        "z": "54f24fa.fa04db",
        "name": "Parámetros por defecto",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 216.30306243896484,
        "y": 1326.7142925262451,
        "wires": [
            [
                "49d1a592.acc55c"
            ]
        ]
    },
    {
        "id": "ef0cb560.707488",
        "type": "sqlite",
        "z": "54f24fa.fa04db",
        "mydb": "f1c2e5ee.000048",
        "name": "INSERT PARAMETROS",
        "x": 657.3030624389648,
        "y": 1326.7142925262451,
        "wires": [
            [
                "4d15d6c9.64ad78"
            ]
        ]
    },
    {
        "id": "fc53ccc6.a3363",
        "type": "comment",
        "z": "54f24fa.fa04db",
        "name": "Parametros por defecto",
        "info": "",
        "x": 187.30306243896484,
        "y": 1277.7142925262451,
        "wires": []
    },
    {
        "id": "49d1a592.acc55c",
        "type": "function",
        "z": "54f24fa.fa04db",
        "name": "insert",
        "func": "var newMsg = {\n    \"topic\": \"INSERT INTO parametros VALUES (\"+parseInt(Date.now() / 1000)+\", 'lucesEstado','0')\"\n}\n\nvar newMsg2 = {\n    \"payload\" : \"0\"\n}\n\nreturn [newMsg, newMsg2];",
        "outputs": 2,
        "noerr": 0,
        "x": 428.30306243896484,
        "y": 1327.7142925262451,
        "wires": [
            [
                "ef0cb560.707488"
            ],
            [
                "2ea45841.46b398"
            ]
        ]
    },
    {
        "id": "2ea45841.46b398",
        "type": "mqtt out",
        "z": "54f24fa.fa04db",
        "name": "Luz",
        "topic": "casa/acuario/luz",
        "qos": "2",
        "retain": "",
        "broker": "55039030.311ea",
        "x": 618.3030624389648,
        "y": 1371.7142925262451,
        "wires": []
    },
    {
        "id": "4d15d6c9.64ad78",
        "type": "debug",
        "z": "54f24fa.fa04db",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 893.3030624389648,
        "y": 1319.7142925262451,
        "wires": []
    },
    {
        "id": "2822280d.1914c8",
        "type": "inject",
        "z": "54f24fa.fa04db",
        "name": "Parámetros por defecto",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 212.30306243896484,
        "y": 1460.7142925262451,
        "wires": [
            [
                "bd5fa50f.0211c8"
            ]
        ]
    },
    {
        "id": "78283635.74bc58",
        "type": "sqlite",
        "z": "54f24fa.fa04db",
        "mydb": "f1c2e5ee.000048",
        "name": "INSERT PARAMETROS",
        "x": 680.3030624389648,
        "y": 1432.7142925262451,
        "wires": [
            [
                "6c85f190.30d9d"
            ]
        ]
    },
    {
        "id": "bd5fa50f.0211c8",
        "type": "function",
        "z": "54f24fa.fa04db",
        "name": "insert",
        "func": "var newMsg1 = {\n    \"topic\": \"INSERT INTO parametros VALUES (\"+parseInt(Date.now() / 1000)+\", 'lucesOn','10:00')\"\n}\n\nvar newMsg2 = {\n    \"topic\": \"INSERT INTO parametros VALUES (\"+parseInt(Date.now() / 1000) + 1 +\", 'lucesOff','18:00')\"\n}\n\nreturn [newMsg1, newMsg2];",
        "outputs": 2,
        "noerr": 0,
        "x": 431.30306243896484,
        "y": 1462.7142925262451,
        "wires": [
            [
                "78283635.74bc58"
            ],
            [
                "e3cd6e5c.026a6"
            ]
        ]
    },
    {
        "id": "6c85f190.30d9d",
        "type": "debug",
        "z": "54f24fa.fa04db",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 916.3030624389648,
        "y": 1452.7142925262451,
        "wires": []
    },
    {
        "id": "e3cd6e5c.026a6",
        "type": "sqlite",
        "z": "54f24fa.fa04db",
        "mydb": "f1c2e5ee.000048",
        "name": "INSERT PARAMETROS",
        "x": 679.3030624389648,
        "y": 1494.7142925262451,
        "wires": [
            [
                "6c85f190.30d9d"
            ]
        ]
    },
    {
        "id": "5de5cfb4.0f81c",
        "type": "ui_chart",
        "z": "54f24fa.fa04db",
        "name": "",
        "group": "be442f18.94c89",
        "order": 0,
        "width": "8",
        "height": "4",
        "label": "Temperatura Agua",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": true,
        "ymin": "10",
        "ymax": "40",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "x": 471.30306243896484,
        "y": 427.28573417663574,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "3c29257d.33394a",
        "type": "ui_chart",
        "z": "54f24fa.fa04db",
        "name": "",
        "group": "be442f18.94c89",
        "order": 0,
        "width": "8",
        "height": "4",
        "label": "Ph Agua",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": true,
        "ymin": "10",
        "ymax": "40",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "x": 429.87450408935547,
        "y": 632.9999980926514,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "7638e2b8.ca517c",
        "type": "sqlite",
        "z": "54f24fa.fa04db",
        "mydb": "f1c2e5ee.000048",
        "name": "Select parametros",
        "x": 1121.3030853271484,
        "y": 188.23811285836348,
        "wires": [
            [
                "4a99c3aa.1579ec"
            ]
        ]
    },
    {
        "id": "4a99c3aa.1579ec",
        "type": "function",
        "z": "54f24fa.fa04db",
        "name": "Obtiene programación",
        "func": "// Mensajes a devolver\nvar msg1;\nvar msg2;\nvar msg3;\n\n// Separamos los datos\nfor(i=0; i<msg.payload.length; i++){\n    if(msg.payload[i].NOMBRE == \"lucesOn\"){\n        msg1 = { payload: msg.payload[i].VALOR};   \n        // Variable ambito flow\n        flow.set('lucesOn', msg1.payload);\n    }else if(msg.payload[i].NOMBRE == \"lucesOff\"){\n        msg2 = { payload: msg.payload[i].VALOR};\n        // Variable ambito flow\n        flow.set('lucesOff', msg2.payload);\n    }else if(msg.payload[i].NOMBRE == \"lucesEstado\"){\n        if(msg.payload[i].VALOR == '0'){\n            msg3 = { payload: 0};\n        }else{\n            msg3 = { payload: 1};\n        }\n        // Variable ambito flow\n        flow.set('lucesEstado', msg.payload[i].VALOR);\n    }\n}\n\n// Devuelvo las dos salidas\nreturn [msg1, msg2, msg3];",
        "outputs": 3,
        "noerr": 0,
        "x": 1354.1603088378906,
        "y": 188.23814392089844,
        "wires": [
            [
                "270f1b3.f2485e4"
            ],
            [
                "24479f06.80033"
            ],
            [
                "70ee2481.8205cc"
            ]
        ]
    },
    {
        "id": "7684234b.90bc7c",
        "type": "sqlite",
        "z": "54f24fa.fa04db",
        "mydb": "f1c2e5ee.000048",
        "name": "Update lucesOn",
        "x": 1941.4459075927734,
        "y": 112.8095588684082,
        "wires": [
            []
        ]
    },
    {
        "id": "c438c4f9.309088",
        "type": "sqlite",
        "z": "54f24fa.fa04db",
        "mydb": "f1c2e5ee.000048",
        "name": "Update lucesOff",
        "x": 1944.874496459961,
        "y": 188.8095588684082,
        "wires": [
            []
        ]
    },
    {
        "id": "70b89cb6.99dfa4",
        "type": "sqlite",
        "z": "54f24fa.fa04db",
        "mydb": "f1c2e5ee.000048",
        "name": "Update estadoLuces",
        "x": 2036.969841003418,
        "y": 414.04763412475586,
        "wires": [
            []
        ]
    },
    {
        "id": "70ee2481.8205cc",
        "type": "ui_switch",
        "z": "54f24fa.fa04db",
        "name": "",
        "label": "Luz",
        "group": "3e50c05d.5df81",
        "order": 0,
        "width": "2",
        "height": "2",
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "x": 1570.9697532653809,
        "y": 287.0476198196411,
        "wires": [
            [
                "fe5db4fe.c2bef8",
                "5d884341.e5a09c",
                "41560a4d.92bb94"
            ]
        ]
    },
    {
        "id": "7023dadb.4843d4",
        "type": "switch",
        "z": "54f24fa.fa04db",
        "name": "Switch encendido",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "-1",
                "vt": "num"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1363.8030853271484,
        "y": 399.964298248291,
        "wires": [
            [],
            [
                "5d884341.e5a09c",
                "70ee2481.8205cc"
            ]
        ]
    },
    {
        "id": "5d884341.e5a09c",
        "type": "mqtt out",
        "z": "54f24fa.fa04db",
        "name": "Luz",
        "topic": "casa/acuario/luz",
        "qos": "2",
        "retain": "",
        "broker": "55039030.311ea",
        "x": 1782.0534934997559,
        "y": 338.2142810821533,
        "wires": []
    },
    {
        "id": "ba9e1271.cfcfb",
        "type": "mqtt in",
        "z": "54f24fa.fa04db",
        "name": "Luz APP",
        "topic": "casa/servidor/luz",
        "qos": "2",
        "broker": "55039030.311ea",
        "x": 1032.3030624389648,
        "y": 285.7142925262451,
        "wires": [
            [
                "a5297833.999ed8"
            ]
        ]
    },
    {
        "id": "7f5c6647.20c6a8",
        "type": "change",
        "z": "54f24fa.fa04db",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "0",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "origen",
                "pt": "msg",
                "to": "app",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1355.3030624389648,
        "y": 261.7142925262451,
        "wires": [
            [
                "70ee2481.8205cc"
            ]
        ]
    },
    {
        "id": "a5297833.999ed8",
        "type": "switch",
        "z": "54f24fa.fa04db",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1171.3030624389648,
        "y": 284.7142925262451,
        "wires": [
            [
                "7f5c6647.20c6a8"
            ],
            [
                "21582e66.3e2f52"
            ]
        ]
    },
    {
        "id": "21582e66.3e2f52",
        "type": "change",
        "z": "54f24fa.fa04db",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "1",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "origen",
                "pt": "msg",
                "to": "app",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1357.3030624389648,
        "y": 316.7142925262451,
        "wires": [
            [
                "70ee2481.8205cc"
            ]
        ]
    },
    {
        "id": "37b58d77.d299e2",
        "type": "mqtt out",
        "z": "54f24fa.fa04db",
        "name": "Luz",
        "topic": "casa/servidor/luz",
        "qos": "2",
        "retain": "",
        "broker": "55039030.311ea",
        "x": 1878.6539726257324,
        "y": 285.724666595459,
        "wires": []
    },
    {
        "id": "41560a4d.92bb94",
        "type": "switch",
        "z": "54f24fa.fa04db",
        "name": "",
        "property": "origen",
        "propertyType": "msg",
        "rules": [
            {
                "t": "neq",
                "v": "app",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1727.653823852539,
        "y": 286.72471046447754,
        "wires": [
            [
                "37b58d77.d299e2"
            ]
        ]
    },
    {
        "id": "5a8478dd.749418",
        "type": "ui_colour_picker",
        "z": "54f24fa.fa04db",
        "name": "",
        "label": "Color luz",
        "group": "3e50c05d.5df81",
        "format": "rgb",
        "outformat": "object",
        "showSwatch": true,
        "showPicker": true,
        "showValue": false,
        "showAlpha": false,
        "showLightness": true,
        "dynOutput": "false",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "topic": "",
        "x": 1088.3333892822266,
        "y": 495.00000762939453,
        "wires": [
            [
                "10c801e2.d2c7fe",
                "65b508f6.3f4f38"
            ]
        ]
    },
    {
        "id": "65b508f6.3f4f38",
        "type": "debug",
        "z": "54f24fa.fa04db",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 1557.5000190734863,
        "y": 426.25000762939453,
        "wires": []
    },
    {
        "id": "10c801e2.d2c7fe",
        "type": "function",
        "z": "54f24fa.fa04db",
        "name": "Concatenar color",
        "func": "var msg1;\n\nmsg1 = { payload: msg.payload.r+\"&\"+msg.payload.g+\"&\"+msg.payload.b};\n\nreturn msg1;",
        "outputs": 1,
        "noerr": 0,
        "x": 1331.2500190734863,
        "y": 465.00000762939453,
        "wires": [
            [
                "65b508f6.3f4f38",
                "478da29c.e6801c"
            ]
        ]
    },
    {
        "id": "478da29c.e6801c",
        "type": "mqtt out",
        "z": "54f24fa.fa04db",
        "name": "",
        "topic": "casa/acuario/color",
        "qos": "2",
        "retain": "",
        "broker": "55039030.311ea",
        "x": 1581.2500190734863,
        "y": 506.25000953674316,
        "wires": []
    },
    {
        "id": "55039030.311ea",
        "type": "mqtt-broker",
        "z": "",
        "name": "",
        "broker": "192.168.0.167",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": ""
    },
    {
        "id": "b69c5c4e.eaa4a",
        "type": "ui_group",
        "z": "",
        "name": "Ambiente",
        "tab": "22de44ab.ee571c",
        "order": 1,
        "disp": true,
        "width": "9"
    },
    {
        "id": "be442f18.94c89",
        "type": "ui_group",
        "z": "",
        "name": "Agua",
        "tab": "22de44ab.ee571c",
        "order": 2,
        "disp": true,
        "width": "9"
    },
    {
        "id": "cb8a536a.bc303",
        "type": "ui_group",
        "z": "",
        "name": "Programación luces",
        "tab": "22de44ab.ee571c",
        "order": 5,
        "disp": true,
        "width": "9",
        "collapse": false
    },
    {
        "id": "f1c2e5ee.000048",
        "type": "sqlitedb",
        "z": "",
        "db": "/home/pi/acuariot.db"
    },
    {
        "id": "3e50c05d.5df81",
        "type": "ui_group",
        "z": "",
        "name": "Controles",
        "tab": "22de44ab.ee571c",
        "disp": true,
        "width": "9"
    },
    {
        "id": "22de44ab.ee571c",
        "type": "ui_tab",
        "z": "",
        "name": "Acuario",
        "icon": "dashboard",
        "order": 1
    }
]