src/Node-RED/flow-acuario-mqtt.JSON
[
    {
        "id": "6c2e12c0.1724fc",
        "type": "mqtt in",
        "z": "c8c41cc4.68e22",
        "name": "Temperatura Ambiente",
        "topic": "casa/servidor/tempext",
        "qos": "2",
        "broker": "4d4b1ff.7bc1ee",
        "x": 200,
        "y": 100,
        "wires": [
            [
                "69c3075.c2fc1f8"
            ]
        ]
    },
    {
        "id": "69c3075.c2fc1f8",
        "type": "ui_gauge",
        "z": "c8c41cc4.68e22",
        "name": "Temperatura Ambiente",
        "group": "a8b21296.be1ab",
        "order": 0,
        "width": "4",
        "height": "3",
        "gtype": "gage",
        "title": "Temperatura",
        "label": "ºC",
        "format": "{{value}}",
        "min": "10",
        "max": "45",
        "colors": [
            "#00b500",
            "#b38c33",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 548,
        "y": 102,
        "wires": []
    },
    {
        "id": "e63a9bc9.c94c48",
        "type": "mqtt in",
        "z": "c8c41cc4.68e22",
        "name": "Humedad ambiente",
        "topic": "casa/servidor/humext",
        "qos": "2",
        "broker": "4d4b1ff.7bc1ee",
        "x": 190,
        "y": 155,
        "wires": [
            [
                "945762f3.402d4"
            ]
        ]
    },
    {
        "id": "945762f3.402d4",
        "type": "ui_gauge",
        "z": "c8c41cc4.68e22",
        "name": "Humedad Ambiente",
        "group": "a8b21296.be1ab",
        "order": 0,
        "width": "4",
        "height": "3",
        "gtype": "gage",
        "title": "Humedad",
        "label": "%",
        "format": "{{value}}",
        "min": "0",
        "max": "100",
        "colors": [
            "#00b500",
            "#b38c33",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 548,
        "y": 155,
        "wires": []
    },
    {
        "id": "cfe13839.f75928",
        "type": "mqtt in",
        "z": "c8c41cc4.68e22",
        "name": "Temperatura",
        "topic": "casa/servidor/tempagua",
        "qos": "2",
        "broker": "4d4b1ff.7bc1ee",
        "x": 161,
        "y": 365,
        "wires": [
            [
                "557d39b5.646cd8"
            ]
        ]
    },
    {
        "id": "557d39b5.646cd8",
        "type": "ui_gauge",
        "z": "c8c41cc4.68e22",
        "name": "Temperatura Agua",
        "group": "4998b673.6c0708",
        "order": 0,
        "width": "4",
        "height": "3",
        "gtype": "gage",
        "title": "Temperatura",
        "label": "ºC",
        "format": "{{value}}",
        "min": "15",
        "max": "30",
        "colors": [
            "#00b500",
            "#b38c33",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 512,
        "y": 365,
        "wires": []
    },
    {
        "id": "9b36be69.6167d",
        "type": "mqtt out",
        "z": "c8c41cc4.68e22",
        "name": "Luz",
        "topic": "casa/acuario/acciones/luz",
        "qos": "2",
        "retain": "",
        "broker": "4d4b1ff.7bc1ee",
        "x": 1160.5,
        "y": 97,
        "wires": []
    },
    {
        "id": "3a93cbb0.98c324",
        "type": "ui_button",
        "z": "c8c41cc4.68e22",
        "name": "Luz on",
        "group": "c9f85a38.cc5598",
        "order": 0,
        "width": "2",
        "height": "2",
        "passthru": false,
        "label": "Luz on",
        "color": "",
        "bgcolor": "#147732",
        "icon": "fa-lightbulb-o ",
        "payload": "1",
        "payloadType": "str",
        "topic": "",
        "x": 861.5,
        "y": 95,
        "wires": [
            [
                "9b36be69.6167d"
            ]
        ]
    },
    {
        "id": "198996d3.3ac929",
        "type": "ui_button",
        "z": "c8c41cc4.68e22",
        "name": "Luz off",
        "group": "c9f85a38.cc5598",
        "order": 0,
        "width": "2",
        "height": "2",
        "passthru": false,
        "label": "Luz off",
        "color": "",
        "bgcolor": "#910b0b",
        "icon": "fa-lightbulb-o ",
        "payload": "0",
        "payloadType": "str",
        "topic": "",
        "x": 863,
        "y": 161,
        "wires": [
            [
                "17dd9ac4.a96265"
            ]
        ]
    },
    {
        "id": "17dd9ac4.a96265",
        "type": "mqtt out",
        "z": "c8c41cc4.68e22",
        "name": "Luz",
        "topic": "casa/acuario/acciones/luz",
        "qos": "2",
        "retain": "",
        "broker": "4d4b1ff.7bc1ee",
        "x": 1157,
        "y": 161,
        "wires": []
    },
    {
        "id": "616c4887.e15f38",
        "type": "mqtt in",
        "z": "c8c41cc4.68e22",
        "name": "PH",
        "topic": "casa/servidor/phagua",
        "qos": "2",
        "broker": "4d4b1ff.7bc1ee",
        "x": 143,
        "y": 418,
        "wires": [
            [
                "b0189814.c2b7c8"
            ]
        ]
    },
    {
        "id": "b0189814.c2b7c8",
        "type": "ui_gauge",
        "z": "c8c41cc4.68e22",
        "name": "PH Agua",
        "group": "4998b673.6c0708",
        "order": 0,
        "width": "4",
        "height": "3",
        "gtype": "gage",
        "title": "PH",
        "label": "",
        "format": "{{value}}",
        "min": "2",
        "max": "15",
        "colors": [
            "#00b500",
            "#b38c33",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 484,
        "y": 418,
        "wires": []
    },
    {
        "id": "2486f0b0.fe51d",
        "type": "mqtt in",
        "z": "c8c41cc4.68e22",
        "name": "Indice Calor Ambiente",
        "topic": "casa/servidor/indiceext",
        "qos": "2",
        "broker": "4d4b1ff.7bc1ee",
        "x": 198,
        "y": 224,
        "wires": [
            [
                "8ad3b6ce.a05a08"
            ]
        ]
    },
    {
        "id": "8ad3b6ce.a05a08",
        "type": "ui_gauge",
        "z": "c8c41cc4.68e22",
        "name": "Indice Calor Abmiente",
        "group": "a8b21296.be1ab",
        "order": 0,
        "width": "4",
        "height": "3",
        "gtype": "gage",
        "title": "Sensación calor",
        "label": "ºC",
        "format": "{{value}}",
        "min": "10",
        "max": "45",
        "colors": [
            "#00b500",
            "#b38c33",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 546,
        "y": 224,
        "wires": []
    },
    {
        "id": "1e591228.46170e",
        "type": "comment",
        "z": "c8c41cc4.68e22",
        "name": "Parámetros Ambiente",
        "info": "Parámetros obtenidos del sensor DHT11",
        "x": 203,
        "y": 49,
        "wires": []
    },
    {
        "id": "d7b2ec63.57fe8",
        "type": "comment",
        "z": "c8c41cc4.68e22",
        "name": "Parámetros Agua",
        "info": "",
        "x": 171,
        "y": 319,
        "wires": []
    },
    {
        "id": "98407b8c.c6ea88",
        "type": "comment",
        "z": "c8c41cc4.68e22",
        "name": "Acciones",
        "info": "Parámetros obtenidos del sensor DHT11",
        "x": 868,
        "y": 44,
        "wires": []
    },
    {
        "id": "4d4b1ff.7bc1ee",
        "type": "mqtt-broker",
        "z": "",
        "broker": "192.168.0.155",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": ""
    },
    {
        "id": "a8b21296.be1ab",
        "type": "ui_group",
        "z": "",
        "name": "Ambiente",
        "tab": "2dd77401.7accbc",
        "order": 1,
        "disp": true,
        "width": "12"
    },
    {
        "id": "4998b673.6c0708",
        "type": "ui_group",
        "z": "",
        "name": "Agua",
        "tab": "2dd77401.7accbc",
        "order": 2,
        "disp": true,
        "width": "8"
    },
    {
        "id": "c9f85a38.cc5598",
        "type": "ui_group",
        "z": "",
        "name": "Controles",
        "tab": "2dd77401.7accbc",
        "disp": true,
        "width": "4"
    },
    {
        "id": "2dd77401.7accbc",
        "type": "ui_tab",
        "z": "",
        "name": "Acuario",
        "icon": "dashboard",
        "order": 1
    }
]