src/Node-RED/flow-acuario-mqtt.JSON
[
    {
        "id": "baf97aad.5c06f8",
        "type": "tab",
        "label": "AcuarIoT",
        "disabled": false,
        "info": ""
    },
    {
        "id": "5a8b04ad.b64cdc",
        "type": "mqtt in",
        "z": "baf97aad.5c06f8",
        "name": "Temperatura Ambiente",
        "topic": "casa/servidor/tempext",
        "qos": "2",
        "broker": "55039030.311ea",
        "x": 128.71428680419922,
        "y": 104.28570747375488,
        "wires": [
            [
                "9cd3341.2f7fcc8"
            ]
        ]
    },
    {
        "id": "9cd3341.2f7fcc8",
        "type": "ui_gauge",
        "z": "baf97aad.5c06f8",
        "name": "Temperatura Ambiente",
        "group": "88d5a2a0.8329a",
        "order": 0,
        "width": "3",
        "height": "3",
        "gtype": "gage",
        "title": "Temperatura",
        "label": "ºC",
        "format": "{{value}}",
        "min": "10",
        "max": "45",
        "colors": [
            "#00b500",
            "#b38c33",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 476.7142868041992,
        "y": 106.28570747375488,
        "wires": []
    },
    {
        "id": "1c8bc4e3.45bafb",
        "type": "mqtt in",
        "z": "baf97aad.5c06f8",
        "name": "Humedad ambiente",
        "topic": "casa/servidor/humext",
        "qos": "2",
        "broker": "55039030.311ea",
        "x": 121.71428680419922,
        "y": 191.28570556640625,
        "wires": [
            [
                "d593a5e8.36ade8"
            ]
        ]
    },
    {
        "id": "d593a5e8.36ade8",
        "type": "ui_gauge",
        "z": "baf97aad.5c06f8",
        "name": "Humedad Ambiente",
        "group": "88d5a2a0.8329a",
        "order": 0,
        "width": "3",
        "height": "3",
        "gtype": "gage",
        "title": "Humedad",
        "label": "%",
        "format": "{{value}}",
        "min": "0",
        "max": "100",
        "colors": [
            "#00b500",
            "#b38c33",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 479.7142868041992,
        "y": 191.28570556640625,
        "wires": []
    },
    {
        "id": "221ab63f.187c3a",
        "type": "mqtt in",
        "z": "baf97aad.5c06f8",
        "name": "Temperatura",
        "topic": "casa/servidor/tempagua",
        "qos": "2",
        "broker": "55039030.311ea",
        "x": 106.71429443359375,
        "y": 481.2857036590576,
        "wires": [
            [
                "32ff36ee.c3d9ca",
                "6aa00142.8de99"
            ]
        ]
    },
    {
        "id": "32ff36ee.c3d9ca",
        "type": "ui_gauge",
        "z": "baf97aad.5c06f8",
        "name": "Temperatura Agua",
        "group": "255325c.35707da",
        "order": 0,
        "width": "4",
        "height": "3",
        "gtype": "gage",
        "title": "Temperatura",
        "label": "ºC",
        "format": "{{value}}",
        "min": "15",
        "max": "35",
        "colors": [
            "#00b500",
            "#b38c33",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 457.71429443359375,
        "y": 481.2857036590576,
        "wires": []
    },
    {
        "id": "d728bbaa.b1f1d8",
        "type": "mqtt out",
        "z": "baf97aad.5c06f8",
        "name": "Luz",
        "topic": "casa/acuario/luz",
        "qos": "1",
        "retain": "",
        "broker": "55039030.311ea",
        "x": 1866.3809776306152,
        "y": 287.6190347671509,
        "wires": []
    },
    {
        "id": "cbe508fd.b0c458",
        "type": "mqtt in",
        "z": "baf97aad.5c06f8",
        "name": "PH",
        "topic": "casa/servidor/phagua",
        "qos": "2",
        "broker": "55039030.311ea",
        "x": 78.71429443359375,
        "y": 679.999963760376,
        "wires": [
            [
                "c0db9daf.40ca6",
                "4b2e71eb.0e735"
            ]
        ]
    },
    {
        "id": "c0db9daf.40ca6",
        "type": "ui_gauge",
        "z": "baf97aad.5c06f8",
        "name": "PH Agua",
        "group": "255325c.35707da",
        "order": 0,
        "width": "4",
        "height": "3",
        "gtype": "gage",
        "title": "PH",
        "label": "",
        "format": "{{value}}",
        "min": "2",
        "max": "15",
        "colors": [
            "#00b500",
            "#b38c33",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 419.71429443359375,
        "y": 679.999963760376,
        "wires": []
    },
    {
        "id": "ae166788.57f8c8",
        "type": "mqtt in",
        "z": "baf97aad.5c06f8",
        "name": "Indice Calor Ambiente",
        "topic": "casa/servidor/indiceext",
        "qos": "2",
        "broker": "55039030.311ea",
        "x": 127.71429443359375,
        "y": 297.28570556640625,
        "wires": [
            [
                "545292c4.4386ec"
            ]
        ]
    },
    {
        "id": "545292c4.4386ec",
        "type": "ui_gauge",
        "z": "baf97aad.5c06f8",
        "name": "Indice Calor Abmiente",
        "group": "88d5a2a0.8329a",
        "order": 0,
        "width": "3",
        "height": "3",
        "gtype": "gage",
        "title": "Sensación calor",
        "label": "ºC",
        "format": "{{value}}",
        "min": "10",
        "max": "45",
        "colors": [
            "#00b500",
            "#b38c33",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 475.71429443359375,
        "y": 297.28570556640625,
        "wires": []
    },
    {
        "id": "41ec93c6.ae457c",
        "type": "comment",
        "z": "baf97aad.5c06f8",
        "name": "Parámetros Ambiente",
        "info": "Parámetros obtenidos del sensor DHT11",
        "x": 131.71428680419922,
        "y": 53.28570747375488,
        "wires": []
    },
    {
        "id": "85c733c3.e1128",
        "type": "comment",
        "z": "baf97aad.5c06f8",
        "name": "Parámetros Agua",
        "info": "",
        "x": 98.71428680419922,
        "y": 430.28570556640625,
        "wires": []
    },
    {
        "id": "365d4fe0.fabae",
        "type": "comment",
        "z": "baf97aad.5c06f8",
        "name": "Acciones",
        "info": "",
        "x": 1568.3809776306152,
        "y": 246.61903476715088,
        "wires": []
    },
    {
        "id": "dd3af895.feea68",
        "type": "ui_text_input",
        "z": "baf97aad.5c06f8",
        "name": "",
        "label": "Encendido",
        "group": "5807d0e1.252f2",
        "order": 0,
        "width": "4",
        "height": "3",
        "passthru": false,
        "mode": "time",
        "delay": "300",
        "topic": "",
        "x": 1563.571434020996,
        "y": 114.38091087341309,
        "wires": [
            [
                "fabe96b.6912368"
            ]
        ]
    },
    {
        "id": "ac9edc55.ec2cc",
        "type": "ui_text_input",
        "z": "baf97aad.5c06f8",
        "name": "",
        "label": "Apagado",
        "group": "5807d0e1.252f2",
        "order": 0,
        "width": "4",
        "height": "3",
        "passthru": false,
        "mode": "time",
        "delay": "300",
        "topic": "",
        "x": 1551.571434020996,
        "y": 190.0952663421631,
        "wires": [
            [
                "1af71b40.4131c5"
            ]
        ]
    },
    {
        "id": "7fbe8eec.9a9df",
        "type": "comment",
        "z": "baf97aad.5c06f8",
        "name": "Programación luces",
        "info": "",
        "x": 837.4285583496094,
        "y": 128.09521865844727,
        "wires": []
    },
    {
        "id": "1b946f89.2a204",
        "type": "inject",
        "z": "baf97aad.5c06f8",
        "name": "Programación luces",
        "topic": "select nombre, valor from parametros where nombre like 'luces%'",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "0.1",
        "x": 867.7142944335938,
        "y": 189.381010055542,
        "wires": [
            [
                "cd111395.da176"
            ]
        ]
    },
    {
        "id": "fabe96b.6912368",
        "type": "function",
        "z": "baf97aad.5c06f8",
        "name": "Conversión",
        "func": "// Obtención de la fecha\nvar dateUtc = new Date();\nvar date = new Date(msg.payload + dateUtc.getTimezoneOffset()*60*1000);\n\n// Almacenamos en variable ambito flow\nflow.set('lucesOn', date.getHours().toString().padStart(2,\"0\")+\":\"+date.getMinutes().toString().padStart(2,\"0\"));\n\n// Montamos la query\nvar newMsg = {topic : \"update parametros set VALOR = '\"+ flow.get('lucesOn')+\"' where NOMBRE = 'lucesOn'\"};\n\nreturn newMsg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1730.571434020996,
        "y": 113.95238304138184,
        "wires": [
            [
                "687a53c0.0d131c"
            ]
        ]
    },
    {
        "id": "1af71b40.4131c5",
        "type": "function",
        "z": "baf97aad.5c06f8",
        "name": "Conversión",
        "func": "// Obtención de la fecha\nvar dateUtc = new Date();\nvar date = new Date(msg.payload + dateUtc.getTimezoneOffset()*60*1000);\n\n// Almacenamos en variable ambito flow\nflow.set('lucesOff', date.getHours().toString().padStart(2,\"0\")+\":\"+date.getMinutes().toString().padStart(2,\"0\"));\n\n// Montamos la query\nvar newMsg = {topic : \"update parametros set VALOR = '\"+ flow.get('lucesOff')+\"' where NOMBRE = 'lucesOff'\"};\n\nreturn newMsg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1729.571434020996,
        "y": 189.95238304138184,
        "wires": [
            [
                "1d85be5d.0e37f2"
            ]
        ]
    },
    {
        "id": "ee7f8edb.314af",
        "type": "inject",
        "z": "baf97aad.5c06f8",
        "name": "Temporizador tareas",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "60",
        "crontab": "",
        "once": true,
        "onceDelay": "",
        "x": 869.2976226806641,
        "y": 401.53565311431885,
        "wires": [
            [
                "76aa136b.e6055c"
            ]
        ]
    },
    {
        "id": "335d1c40.ad3b74",
        "type": "function",
        "z": "baf97aad.5c06f8",
        "name": "Estado de la luz",
        "func": "// Variable ambito flow\nflow.set('lucesEstado', msg.payload);\n\n// Montamos la query actualizar estado\nvar newMsg = {topic : \"update parametros set VALOR = '\"+ flow.get('lucesEstado') +\"' where NOMBRE = 'lucesEstado'\"};\n\nreturn newMsg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1808.3809776306152,
        "y": 360.6190347671509,
        "wires": [
            [
                "87aeb5fe.9f6248"
            ]
        ]
    },
    {
        "id": "3a534f47.e596",
        "type": "function",
        "z": "baf97aad.5c06f8",
        "name": "Luces programadas",
        "func": "// Obtenemos fecha actual\nvar fecha = new Date();\n\n// Estado actual de la luz\nvar estadoLuz = parseInt(flow.get('luzEstado'));\n\n// Comprobamos si existe el estado de la luz\nif (typeof estadoLuz === \"undefined\") {\n\n    // Comprobación estado\n    // Obtenemos el valor de la hora y minutos\n    var horaMinutos = flow.get('encendidoLuz').toString().split(\":\");\n    var hora = parseInt(horaMinutos[0]);\n    var minutos = parseInt(horaMinutos[1]);\n\n    // Comprobamos si encendemos\n    if(hora >= fecha.getHours() && minutos >= fecha.getMinutes()){\n        // Cambiamos estado\n        flow.set('luzEstado', 1);\n        // Activamos encendido de luces\n        msg.payload = 1;\n    }else{\n        // Cambiamos estado\n        flow.set('luzEstado', 0);\n        // Activamos encendido de luces\n        msg.payload = 0;\n    }\n    return msg;\n}\n\n// Establecemos no actualización\nmsg.payload = -1;\n\n// Comprobamos si está encendido o apagado\nif(estadoLuz === 0){\n\n    // Obtenemos el valor de la hora y minutos\n    var horaMinutos = flow.get('encendidoLuz').toString().split(\":\");\n    var hora = parseInt(horaMinutos[0]);\n    var minutos = parseInt(horaMinutos[1]);\n\n    // Comprobamos si encendemos\n    if(hora >= fecha.getHours() && minutos >= fecha.getMinutes()){\n        node.warn(\"Apagado/Encendido\");\n        // Cambiamos estado\n        flow.set('luzEstado', 1);\n        // Activamos encendido de luces\n        msg.payload = 1;\n    }\n}else{\n\n    // Obtenemos el valor de la hora y minutos\n    var horaMinutos = flow.get('apagadoLuz').toString().split(\":\");\n    var hora = parseInt(horaMinutos[0]);\n    var minutos = parseInt(horaMinutos[1]);\n\n    // Comprobamos si encendemos\n    if(hora <= fecha.getHours() && minutos < fecha.getMinutes()){\n        node.warn(\"Encendido/Apagado\");\n        // Cambiamos estado\n        flow.set('luzEstado', 0);\n        // Activamos encendido de luces\n        msg.payload = 0;\n    }\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1265.0475845336914,
        "y": 556.2856292724609,
        "wires": [
            [
                "dde8c81e.55a118"
            ]
        ]
    },
    {
        "id": "dde8c81e.55a118",
        "type": "switch",
        "z": "baf97aad.5c06f8",
        "name": "Switch encendido",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "-1",
                "vt": "num"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1494.0475845336914,
        "y": 559.2856292724609,
        "wires": [
            [
                "90affa11.85bdc8"
            ],
            [
                "885ddbbf.f86c68",
                "9835c925.adf268"
            ]
        ]
    },
    {
        "id": "885ddbbf.f86c68",
        "type": "mqtt out",
        "z": "baf97aad.5c06f8",
        "name": "Luz",
        "topic": "casa/acuario/luz",
        "qos": "2",
        "retain": "",
        "broker": "55039030.311ea",
        "x": 1714.0475845336914,
        "y": 594.2856292724609,
        "wires": []
    },
    {
        "id": "90affa11.85bdc8",
        "type": "debug",
        "z": "baf97aad.5c06f8",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "payload",
        "x": 1715.0475845336914,
        "y": 487.28562927246094,
        "wires": []
    },
    {
        "id": "9835c925.adf268",
        "type": "debug",
        "z": "baf97aad.5c06f8",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "payload",
        "x": 1749.0475845336914,
        "y": 697.2856292724609,
        "wires": []
    },
    {
        "id": "76aa136b.e6055c",
        "type": "function",
        "z": "baf97aad.5c06f8",
        "name": "Luces programadas",
        "func": "// Obtenemos fecha actual\nvar fecha = new Date();\n\n// Fecha de encendido\nvar horaMinutos = flow.get('lucesOn').toString().split(\":\");\nvar horaOn = parseInt(horaMinutos[0]);\nvar minutosOn = parseInt(horaMinutos[1]);\n\n// Fecha de apagado\nhoraMinutos = flow.get('lucesOff').toString().split(\":\");\nvar horaOff = parseInt(horaMinutos[0]);\nvar minutosOff = parseInt(horaMinutos[1]);\n\nmsg.payload = -1;\n\n// Si la fecha anterior es igual a la fecha de encendido\nif(fecha.getHours() == horaOn && fecha.getMinutes() == minutosOn){\n    // Encendemos\n    msg.payload = 1;\n} else if (fecha.getHours() == horaOff && fecha.getMinutes() == minutosOff){\n    // Apagamos\n    msg.payload = 0;\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1125.4723052978516,
        "y": 401.58331871032715,
        "wires": [
            [
                "e13ef236.80054"
            ]
        ]
    },
    {
        "id": "34872d96.044212",
        "type": "comment",
        "z": "baf97aad.5c06f8",
        "name": "Crear tablas",
        "info": "",
        "x": 122.5,
        "y": 907.5,
        "wires": []
    },
    {
        "id": "ada822ad.7794a",
        "type": "inject",
        "z": "baf97aad.5c06f8",
        "name": "CREATE parametros",
        "topic": "CREATE TABLE parametros(TIMESTAMP INT PRIMARY KEY NOT NULL, NOMBRE VARCHAR(10) NOT NULL,VALOR VARCHAR(15) NOT NULL)",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 286.25,
        "y": 1003.7500152587891,
        "wires": [
            [
                "318ac2cc.23425e"
            ]
        ]
    },
    {
        "id": "318ac2cc.23425e",
        "type": "sqlite",
        "z": "baf97aad.5c06f8",
        "mydb": "f1c2e5ee.000048",
        "name": "CREATE parametros",
        "x": 556.2500076293945,
        "y": 1003.7500305175781,
        "wires": [
            []
        ]
    },
    {
        "id": "5d8f8bc0.4e3be4",
        "type": "inject",
        "z": "baf97aad.5c06f8",
        "name": "Parámetros por defecto",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 205,
        "y": 1328,
        "wires": [
            [
                "3a55fe71.5bdd92"
            ]
        ]
    },
    {
        "id": "fb970e38.7d6d",
        "type": "sqlite",
        "z": "baf97aad.5c06f8",
        "mydb": "f1c2e5ee.000048",
        "name": "INSERT PARAMETROS",
        "x": 646,
        "y": 1328,
        "wires": [
            [
                "b1f50782.3f2428"
            ]
        ]
    },
    {
        "id": "299c599c.c75156",
        "type": "comment",
        "z": "baf97aad.5c06f8",
        "name": "Parametros por defecto",
        "info": "",
        "x": 176,
        "y": 1279,
        "wires": []
    },
    {
        "id": "3a55fe71.5bdd92",
        "type": "function",
        "z": "baf97aad.5c06f8",
        "name": "insert",
        "func": "var newMsg = {\n    \"topic\": \"INSERT INTO parametros VALUES (\"+parseInt(Date.now() / 1000)+\", 'lucesEstado','0')\"\n}\n\nvar newMsg2 = {\n    \"payload\" : \"0\"\n}\n\nreturn [newMsg, newMsg2];",
        "outputs": 2,
        "noerr": 0,
        "x": 417,
        "y": 1329,
        "wires": [
            [
                "fb970e38.7d6d"
            ],
            [
                "c2ac093a.174298"
            ]
        ]
    },
    {
        "id": "c2ac093a.174298",
        "type": "mqtt out",
        "z": "baf97aad.5c06f8",
        "name": "Luz",
        "topic": "casa/acuario/luz",
        "qos": "2",
        "retain": "",
        "broker": "55039030.311ea",
        "x": 607,
        "y": 1373,
        "wires": []
    },
    {
        "id": "b1f50782.3f2428",
        "type": "debug",
        "z": "baf97aad.5c06f8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 882,
        "y": 1321,
        "wires": []
    },
    {
        "id": "7aa7dc5c.c004c4",
        "type": "inject",
        "z": "baf97aad.5c06f8",
        "name": "Parámetros por defecto",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 201,
        "y": 1462,
        "wires": [
            [
                "a9cdca39.ce6898"
            ]
        ]
    },
    {
        "id": "cc9c6615.dae2f8",
        "type": "sqlite",
        "z": "baf97aad.5c06f8",
        "mydb": "f1c2e5ee.000048",
        "name": "INSERT PARAMETROS",
        "x": 669,
        "y": 1434,
        "wires": [
            [
                "916bd95e.fe9038"
            ]
        ]
    },
    {
        "id": "a9cdca39.ce6898",
        "type": "function",
        "z": "baf97aad.5c06f8",
        "name": "insert",
        "func": "var newMsg1 = {\n    \"topic\": \"INSERT INTO parametros VALUES (\"+parseInt(Date.now() / 1000)+\", 'lucesOn','10:00')\"\n}\n\nvar newMsg2 = {\n    \"topic\": \"INSERT INTO parametros VALUES (\"+parseInt(Date.now() / 1000) + 1 +\", 'lucesOff','18:00')\"\n}\n\nreturn [newMsg1, newMsg2];",
        "outputs": 2,
        "noerr": 0,
        "x": 420,
        "y": 1464,
        "wires": [
            [
                "cc9c6615.dae2f8"
            ],
            [
                "3ee3bf1c.998a2"
            ]
        ]
    },
    {
        "id": "916bd95e.fe9038",
        "type": "debug",
        "z": "baf97aad.5c06f8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 905,
        "y": 1454,
        "wires": []
    },
    {
        "id": "3ee3bf1c.998a2",
        "type": "sqlite",
        "z": "baf97aad.5c06f8",
        "mydb": "f1c2e5ee.000048",
        "name": "INSERT PARAMETROS",
        "x": 668,
        "y": 1496,
        "wires": [
            [
                "916bd95e.fe9038"
            ]
        ]
    },
    {
        "id": "6aa00142.8de99",
        "type": "ui_chart",
        "z": "baf97aad.5c06f8",
        "name": "",
        "group": "255325c.35707da",
        "order": 0,
        "width": "8",
        "height": "4",
        "label": "Temperatura Agua",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": true,
        "ymin": "10",
        "ymax": "40",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "x": 460,
        "y": 428.5714416503906,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "4b2e71eb.0e735",
        "type": "ui_chart",
        "z": "baf97aad.5c06f8",
        "name": "",
        "group": "255325c.35707da",
        "order": 0,
        "width": "8",
        "height": "4",
        "label": "Ph Agua",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": true,
        "ymin": "10",
        "ymax": "40",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "x": 418.5714416503906,
        "y": 634.2857055664062,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "cd111395.da176",
        "type": "sqlite",
        "z": "baf97aad.5c06f8",
        "mydb": "f1c2e5ee.000048",
        "name": "Select parametros",
        "x": 1110.0000228881836,
        "y": 189.52382033211836,
        "wires": [
            [
                "4be85e61.b9d14"
            ]
        ]
    },
    {
        "id": "4be85e61.b9d14",
        "type": "function",
        "z": "baf97aad.5c06f8",
        "name": "Obtiene programación",
        "func": "// Mensajes a devolver\nvar msg1;\nvar msg2;\nvar msg3;\n\n// Separamos los datos\nfor(i=0; i<msg.payload.length; i++){\n    if(msg.payload[i].NOMBRE == \"lucesOn\"){\n        msg1 = { payload: msg.payload[i].VALOR};   \n        // Variable ambito flow\n        flow.set('lucesOn', msg1.payload);\n    }else if(msg.payload[i].NOMBRE == \"lucesOff\"){\n        msg2 = { payload: msg.payload[i].VALOR};\n        // Variable ambito flow\n        flow.set('lucesOff', msg2.payload);\n    }else if(msg.payload[i].NOMBRE == \"lucesEstado\"){\n        if(msg.payload[i].VALOR == '0'){\n            msg3 = { payload: 0};\n        }else{\n            msg3 = { payload: 1};\n        }\n        // Variable ambito flow\n        flow.set('lucesEstado', msg.payload[i].VALOR);\n    }\n}\n\n// Devuelvo las dos salidas\nreturn [msg1, msg2, msg3];",
        "outputs": 3,
        "noerr": 0,
        "x": 1342.8572463989258,
        "y": 189.52385139465332,
        "wires": [
            [
                "dd3af895.feea68"
            ],
            [
                "ac9edc55.ec2cc"
            ],
            [
                "d8a1465f.714cf8"
            ]
        ]
    },
    {
        "id": "687a53c0.0d131c",
        "type": "sqlite",
        "z": "baf97aad.5c06f8",
        "mydb": "f1c2e5ee.000048",
        "name": "Update lucesOn",
        "x": 1930.1428451538086,
        "y": 114.09526634216309,
        "wires": [
            []
        ]
    },
    {
        "id": "1d85be5d.0e37f2",
        "type": "sqlite",
        "z": "baf97aad.5c06f8",
        "mydb": "f1c2e5ee.000048",
        "name": "Update lucesOff",
        "x": 1933.571434020996,
        "y": 190.0952663421631,
        "wires": [
            []
        ]
    },
    {
        "id": "87aeb5fe.9f6248",
        "type": "sqlite",
        "z": "baf97aad.5c06f8",
        "mydb": "f1c2e5ee.000048",
        "name": "Update estadoLuces",
        "x": 2034.666690826416,
        "y": 360.333327293396,
        "wires": [
            []
        ]
    },
    {
        "id": "d8a1465f.714cf8",
        "type": "ui_switch",
        "z": "baf97aad.5c06f8",
        "name": "",
        "label": "Luz",
        "group": "2dcf8a96.1121b6",
        "order": 0,
        "width": "2",
        "height": "2",
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "x": 1559.666690826416,
        "y": 288.333327293396,
        "wires": [
            [
                "335d1c40.ad3b74",
                "d728bbaa.b1f1d8"
            ]
        ]
    },
    {
        "id": "e13ef236.80054",
        "type": "switch",
        "z": "baf97aad.5c06f8",
        "name": "Switch encendido",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "-1",
                "vt": "num"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1352.5000228881836,
        "y": 401.2500057220459,
        "wires": [
            [],
            [
                "6b31a925.ff1268",
                "d8a1465f.714cf8"
            ]
        ]
    },
    {
        "id": "6b31a925.ff1268",
        "type": "mqtt out",
        "z": "baf97aad.5c06f8",
        "name": "Luz",
        "topic": "casa/acuario/luz",
        "qos": "2",
        "retain": "",
        "broker": "55039030.311ea",
        "x": 1543.75,
        "y": 427.5,
        "wires": []
    },
    {
        "id": "55039030.311ea",
        "type": "mqtt-broker",
        "z": "",
        "name": "",
        "broker": "192.168.0.167",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": ""
    },
    {
        "id": "88d5a2a0.8329a",
        "type": "ui_group",
        "z": "",
        "name": "Ambiente",
        "tab": "6d789f98.7a72b",
        "order": 1,
        "disp": true,
        "width": "9"
    },
    {
        "id": "255325c.35707da",
        "type": "ui_group",
        "z": "",
        "name": "Agua",
        "tab": "6d789f98.7a72b",
        "order": 2,
        "disp": true,
        "width": "9"
    },
    {
        "id": "5807d0e1.252f2",
        "type": "ui_group",
        "z": "",
        "name": "Programación luces",
        "tab": "6d789f98.7a72b",
        "order": 5,
        "disp": true,
        "width": "9",
        "collapse": false
    },
    {
        "id": "f1c2e5ee.000048",
        "type": "sqlitedb",
        "z": "",
        "db": "/home/pi/acuariot.db"
    },
    {
        "id": "2dcf8a96.1121b6",
        "type": "ui_group",
        "z": "",
        "name": "Controles",
        "tab": "6d789f98.7a72b",
        "disp": true,
        "width": "9"
    },
    {
        "id": "6d789f98.7a72b",
        "type": "ui_tab",
        "z": "",
        "name": "Acuario",
        "icon": "dashboard",
        "order": 1
    }
]